@import url('/css/color.css');

body{
    background: var(--sec-color) !important;
}

.profile{
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin: auto;
    background-color: var(--sec-color);
} 

.profile-container{ 
    position: relative;    
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.profile-title{
    padding: 5px;
    margin-right: 30px;
}

.profile-title h1{
    font-size: 6em;
    line-height: 70px;;
    color: var(--third-color);
}

.profile-title h2{
    font-size:1em;
    padding: 15px 5px;
    color: var(--title-color);
}

.profile-card{
    margin-left: 30px;
}

.profile-pic {
    width: 300px;
    height:320px;
    overflow:hidden;
    border-radius: 10px;
}
.profile-card img{
    width:300px;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.profile-card img:hover{
    transform:scale(1.2,1.2);
}

.social-media{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    font-size:30px;
}

.social-media a{
    padding: 0 10px;
    color: var(--text-color);
}

/* scroll-down */
.box{
	position: absolute;
    bottom:-15%;
	left: 50%;
    padding: 30px 0;
	transform: translate(-50%, -50%);
    z-index: 25;
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

/* 自我介紹 */
.about{
    position: relative;
    width:100%;
    height:220px;
    margin: auto;
    padding: 60px 50px 20px;
    text-align: center;
    color: var(--text-color);
    background:var(--sec-color);
}
.about::before{
    content: '';
    position: absolute;
    bottom: -149px;
    right:0px;
    width: 100%;
    height:150px;
    background:linear-gradient(to bottom, var(--sec-color), transparent) ;
    z-index: 10;
}

.about-text{
    width:650px;
    margin: auto;
}

.about-container{
    color: var(--sec-color);
    background-color: var(--third-color);
}

.about-wrap{
    width:100%;
    height:100%;
    display:flex;
    justify-items: center;
    align-items:flex-start;
    padding:180px 0px 100px;
}

.about-wrap h1{
    margin-top: 20px;
    padding: 30px 0;
    color: var(--sec-color);
}

.about-item{
    padding: 10px 45px;
    width:100%;
    text-align: center;
}

.about-item p{
    text-align: left;
    font-weight: 300;
}
.about-content h3{
    color:var(--text-color)
}
.about-content ul{
    font-weight: 300;
    padding-left:32px
}
.about-content{
    text-align: left;
    margin-bottom: 5px;
}

@media screen and (max-width: 780px){
    .profile-card{
        margin:40px 50px;
    }
    .profile-title {
        text-align: center;
        line-height: 100px;
        margin: 0;
    }
    .profile-pic {
        width: 280px;
        height:320px;
    }
    .profile-card img{
        width:280px;
    }
    .about-wrap{
        flex-wrap: wrap;
    }
    .about-text{
        padding: 0 10px;
        width:100%;
    }
    .profile{
        padding-top: 0px;
    }
    .about{
        padding:5px 30px;
    }
    .social-media{
       margin-top: 20px;
    }
}
@media screen and (max-width: 500px){
    .profile-pic {
        width: 280px;
        height:320px;
    }
    .profile-card img{
        width:280px;
    }
}